:host {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo no eixo horizontal (X) */
  align-items: center;
  display: block;
  width: 100%;
  max-width: 1200px; 
  margin: 2rem auto; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

::ng-deep .nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: #007bff; /* Azul */
  cursor: grab;
}

::ng-deep .nodes text {
  font-family: sans-serif;
  font-size: 12px;
  fill: #333;
}

::ng-deep .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

::ng-deep .edge-labels text {
  font-family: sans-serif;
  font-size: 10px;
  fill: #666;
  background-color: white; 
  padding: 2px;
}

::ng-deep .node-label {
  font-family: sans-serif;
  font-size: 10px;
  fill: #333;

  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
  stroke-linejoin: round;
  pointer-events: none; 
}

::ng-deep .path-node {
  fill: #ff6347 !important; /* Laranja/Tomate */
  stroke: #ff4500 !important;
}

::ng-deep .path-link {
  stroke: #ff6347 !important; /* Laranja/Tomate */
  stroke-width: 4px !important;
  stroke-opacity: 1 !important;
}

::ng-deep .start-node {
  fill: #32cd32 !important; /* Verde Lima */
}

::ng-deep .end-node {
  fill: #dc143c !important; /* Vermelho Carmesim */
}

::ng-deep .nodes g { 
  cursor: pointer; 
}